@media screen and (min-width: 768px) {
    #menu {
        display: none;
    }

    nav ul {
        display: flex;
        flex-direction: row;
    }

    nav ul.open {
        position: static;
        flex-direction: row;
        width: auto;
        background: transparent;
        border: none;
    }

    .grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid.list {
        display: flex;
        flex-direction: column;
    }

    .grid.list .member-card {
        display: flex;
        flex-direction: row;
    }

    .grid.list .card-body img {
        display: block;
        width: 40px;
        height: 40px;
    }

    footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (min-width: 768px) {
    .home-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }

    .spotlights-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }

    .cta-box {
        max-width: 550px;
        padding: 1.5rem;
    }

    .cta-box h1 {
        font-size: 1.6rem;
    }
}